{% extends 'AppBlog/base.html' %}

{% load static %}

{% block title %} AS {% endblock title %}

<!-- Page content-->
{% block main %}
<h1>Formulario</h1>
<h2>¿Estás interesado en alguno/s de los talleres que se dictan?</h2>
{% if miFormularioTalleres.errors %}
<p style="color:red;"> Están mal los datos, revisar </p>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}

    <table>
        {{miFormularioTalleres.as_table}}
    </table>
    
    <input type = "submit" value="Enviar">
</form>
{% endblock main %}
